<div id="header">
    <div id="logo">
        <a href="@Url.Content("~")">
            <img src="@Url.Content("~/Content/images/demo.png")" alt="Demo site"/>
        </a>
    </div>
    <div id="appName">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <div id="settings">
        <img src="@Url.Content("~/Content/images/Settings-32px.png")" alt="Manage Settings"/>
    </div>
</div>
<div class="clear"></div>
